<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wish List</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <div class="h_container">  
        <a class="H_link" href="/">Home</a>
        <a class="H_link" href="/upload">upload</a>        
        {{#if loggedIn}}
        <a class="H_link" id="logout" href="/">Logout</a>
        {{else}}
        <a class="H_link" href="/login">Login</a>
        {{/if}}
       </div></br> 
      </h1>
    </header>
    <main>
      
    </br></br> 
    <div class="row">
      <div class="col-12 col-md-3 left" id="left_list">
       </div>
      <div class="col-12 col-md-9 right">
        {{{ body }}}
      </div>
    </div>
    </main>
    <footer>
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>