{{>navigation}}
<article class='col-12 col-md-6 m-3'>
  <form id='create-category'>
    <div class='form-group'>
      <label class='font-weight-bold'>Category Name</label>
      <input
        type='text'
        class='form-control'
        id='category-name'
        placeholder='Enter Category Name'
      />
    </div>
    <button type='submit' class='btn btn-primary'>Submit</button>
  </form>
  <script src='/javascript/category.js'></script>
</article>