{{>navigation}}
<div class="cutom-row">
<div class='row'>
  <div class='col-md-3' id='left_list'>
    <a class="btn btn-success" id="btn-create-category" href="/category">Create Category
      <i class="fa-solid fa-plus"></i>
    </a>
    <a class="btn btn-success" id="btn-create-product" href="/products">Create Products
      <i class="fa-solid fa-plus"></i>
    </a>
     <a class="btn btn-warning" id="btn-save-list" style="display: none;">Save to List<span id="count"></span>
      <i class="fa-solid fa-plus"></i>
    </a>
  </div>
  <div class='col-md-9' id='right_list'>
    <ol class="row" id="parent-product">      
      {{#each posts as |post|}}

     {{> category-info post }}

      {{/each}}
    </ol>
  </div>
</div>
<div id='cat' data={{cats}}></div>
</div>
  <div class="row">
    <div class="col-12" id='viewItem'>
  </div>
</div>


{{!-- Model --}}
<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><strong>Create List</strong></h5>       
      </div>
      <div class="modal-body">
        <label>List Name</label><br>
        <input type="text" placeholder="Input List Name" id="listname"></input>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="mdclose">Close</button>
        <button type="button" class="btn btn-primary" id="mdsave">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script src='/javascript/homepage.js'></script>
<script src='/javascript/createlist.js'></script>
<script src='/javascript/delete-product.js'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />