<div class='col-md-6 col-sm-12'>
  <form class='login-form'>
    <div class='form-group'>
      <label for='email-login' class='form-label'>email:</label>
      <input type='text' id='email-login' class='form-control' />
    </div>
    <div class='form-group'>
      <label for='password-login' class='form-label'>password:</label>
      <input type='password' id='password-login' class='form-control' />
    </div>
    <div>
      <button type='submit'>login</button>
      <a href='/signup'>Sign Up here</a>
    </div>
  </form>
  <button type='button' class='btn btn-link btn-floating mx-1'>
    <i class='fab fa-google'></i>
  </button>
</div>
<script src='/javascript/login.js'></script>